*{
 box-sizing: border-box;
}
body{
    font-family: Verdana;
    background-color: #0000A4;
}
.top{
    display: flex;
    margin: 30px 450px;
    justify-content: center;
}
.select{
    color: #CEEAEE;
    font-size: 16px;
}
.talk{
    margin-top: -30px;
    margin-left: 400px;
    position: relative;
}
.conten{
    border: #ffffff 8px solid;
}
.text{
    width: 666px;
    background-color: white;
    margin-top: 10px;
    margin-left: 400px;
    padding: 10px;
}
.text-justify{
    font-size: 16px;
}
z1{
    font-size: 14px;
    padding: 12px;
}
.icon{
    float: left;
    margin-right: 5px;
}
.icon-right{
    float: right;
}